<header class="header">
    <a href="/" class="header__logo">Rui Viveiros | 🛠</a>
    <nav class="header__nav">
        <ul>
            <li>
                <a href="/projects">Projects</a>
            </li>
            <li> 
                <a href="/about">About</a>
                                
            </li>
            <li>
                <a href="/resumee">Resumee</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
        </ul>
    </nav>
    <div class="header__button">
        <button class="searcBtn" aria-expanded="false">
            Search
            <svg width="18" height="18" fill="none" stroke="currentColor" stroke-width="2"> <circle cx="8" cy="8" r="6"></circle> <line x1="12" y1="12" x2="16" y2="16"></line> </svg>
        </button>
    </div>
</header>