<div class="author">
    <h1 class="author__heading">Hi, thanks for stopping by!</h1>
    <p class="author__body">This is my home base on the web — a central hub for everything I'm working on.</p>
    <p class="author__body">I’m a web developer living on Madeira Island. Outside of coding, I love creating music, exploring photography, and enjoying the freedom of motorcycle rides.</p>
</p>
</div>

<img src="/img/developer-portrait.jpg" alt="Person looking sideways to the camera" class="developer-portrait">
