<div class="author">
    <h1 class="author__heading">About</h1>
    <p class="author__body">Hi, I’m Rui — a full-stack developer building apps to make the web better.
        <br>
        Based in Madeira, I’m constantly learning and tinkering. When I’m not coding, I’m probably playing guitar or planning my next project.
    </p>
</p>
</div>

<img src="/img/developer-portrait.jpg" alt="Person looking sideways to the camera" class="developer-portrait">