<div class="author">
    <h1 class="author__heading">About</h1>
    <p class="author__body">My name is Rui and besides coding, I love playing music, exploring photography, and enjoying the freedom of motorcycle rides.</p>
</p>
</div>

<img src="/img/developer-portrait.jpg" alt="Person looking sideways to the camera" class="developer-portrait">