<div class="author">
    <h1 class="author__heading">About</h1>
    <p class="author__body">I’m a web developer living on Madeira Island. Outside of coding, I love creating <a href="https://youtu.be/YNlpBBd1NTI?si=nGt1RYsvvZsE1DN5">music</a>, exploring <a href="https://alanbitts-gallery.netlify.app/">photography</a>, and enjoying the freedom of <a href="https://youtu.be/Lqr4IgG9WlY?si=asxczvLHCYELM-Xu">motorcycle rides</a>.</p>
</p>
</div>

<img src="/img/developer-portrait.jpg" alt="Person looking sideways to the camera" class="developer-portrait">

<h1>Main Skills</h1>
    <ul>
        <li>JavaScript</li>
        <li>Python</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>C++</li>
    </ul>
    <H3>Frameworks</H3>
    <ul>
        <li>NodeJs</li>
        <li>Django</li>
    </ul>