<section class="author">
  <h1 class="author__heading">Get in Touch</h2>
  <p class="author__body">If you'd like to reach out, send me a message or connect through my profiles:</p>
    <!-- Social Links -->
    <div class="contact-links">
      <!-- <h3>Find me online</h3> -->
      <a href="https://github.com/rui-viveiros" target="_blank">GitHub</a>
      <a href="https://linkedin.com/in/alanbitts" target="_blank">LinkedIn</a>
      <a href="https://www.instagram.com/ruifviveiros">Instagram</a>
      <a href="https://www.facebook.com/ruifviveiros">Facebook</a>
    </div>
  </div>
</section>
