<section class="author">
    <h1 class="author__heading">Projects</h1>
    <p class="author__body">Here are some of the projects I've worked on.</p>
</section>

<!-- <div class="accordion">
    <details name="super">
        <summary aria-describedby="accordion1">
            <span class="span" role="term">
                Photography Portfolio
            </span>
        </summary>
    </details>
    <div class="content">
        <p class="inner" role="definition" id="accordion1">
            A web gallery for some photos I took over the years. The portefolio was made with Tailwind CSS and some JS for animations. You can visit the gallery <a href="https://alanbitts-gallery.netlify.app/">here</a>
        </p>
    </div>

    <div class="accordion">
        <details name=""super>
            <summary aria-describedby="accordion2">
                <span class="span" role="term">
                    Project 2
                </span>
            </summary>
        </details>
    </div>
    <div class="content">
        <p class="inner" role="definition" id="accordion2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In aut eveniet quae quisquam iusto iure cum neque perferendis, dolores molestiae dolorem sequi quos adipisci facilis suscipit, quia laudantium labore eos.
        </p>
    </div>
</div> -->
<div class="accordion">
  <details name="super">
    <summary aria-describedby="accordion1">
      <span class="span" role="term">Photography Portfolio</span>
    </summary>
  </details>
  <div class="content">
    <p class="inner" role="definition" id="accordion1">A web gallery for some photos I took over the years. The portefolio was made with Tailwind CSS and some JS for animations. You can visit the gallery <a href="https://alanbitts-gallery.netlify.app/">here</a></p>
  </div>
</div>

<div class="accordion">
  <details name="super">
    <summary aria-describedby="accordion2">
      <span class="span" role="term">AI Chatbot</span>
    </summary>
  </details>
  <div class="content">
    <p class="inner" role="definition" id="accordion2">A lightweight, self-hosted chatbot built with Node.js and the OpenAI API. This project allows users to interact with GPT models through a simple web interface, using a clean and modular backend. The application is designed for easy deployment and customization, with a focus on security. <br><a href="https://github.com/Rui-Viveiros/GPT-chatbot" target="_blank">&nearrow;</a></p>
  </div>
</div>

<div class="accordion">
  <details name="super">
    <summary aria-describedby="accordion2">
      <span class="span" role="term">React-based Blog</span>
    </summary>
  </details>
  <div class="content">
    <p class="inner" role="definition" id="accordion2">Built a dynamic, responsive blog using React and Create React App, designed for clean content delivery and easy maintenance. <br><a href="https://github.com/Rui-Viveiros/blog" target="_blank">&nearrow;</a></p>
  </div>
</div>