<h1>Photography Portfolio</h1>
<p>A web gallery for some photos I took over the years. The portefolio was made with Tailwind CSS and some JS for animations. You can visit the gallery <a href="https://alanbitts-gallery.netlify.app/">here</a>.</p>